.wy-nav-content {
    max-width: none;
}

.ethical-rtd {
    display: none;
}

.rst-content blockquote {
    border-left: solid 4px #ccc;
    padding: 10px;
    font-size: smaller;
}

.highlight {
    background: #eeffcc;
}
